{% extends 'base/base.html'%}

{% block title %} Creando Equipo {% endblock title %}

{% block content %}

	<h1>FormSets</h1>

	<form method="POST">
		{% csrf_token %}
		{{ form.management_form }}
		<p>NOTA: El validador no está funcinando correctamente y los formularios inválidos están entrando por la función form_valid()</p>
		{% for f in form %}
			{{f.as_p}}
			<h1>----------------------------------------------</h1>
		{% endfor %}

		<input type="submit" value="Guardar">
	</form>

{% endblock content %}